*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


.header{

    width: 100%;
    background: rgb(67, 86, 252);
    padding: 10px;
    
   


    .headerArriba{
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        height: 20px;

        .sectionizq{
            float: left;
            a{
                color: white;
                text-decoration: none;
                padding: 5px;
                display: inline-block;
                
            }
        }

        .sectionder{
            float: right;
            a{
                color: white;
                text-decoration: none;
                padding: 5px;
                display: inline-block;

                
            }

           
        }
    }
}

.headerAbajo{

    width: 100%;
    height: 250px;
    background: rgb(250, 69, 37);
    text-align: center;
    padding: 10px;

    img{
        width: 80%;
        height: 100%;
       
    }

}

.main{

    width: 100%;

    .titulo{
        width: 100%;
        margin-top: 10px;
        margin-left: 40px;
        p{
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

    .contenedor{
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

        .section{
            margin-top: 4px;
            width: 20%;
            height: 320px;
            background: #f2f2f2;
            padding: 5px;
            margin: 20px;
            box-shadow: 18px -4px 27px -5px rgba(0,0,0,0.75);

            .imagen{
                width: 100%;
                height: 150px;
                background: #ccc;
                text-align: center;

                h4{
                   position: relative;
                   top:70px;
                }
               
            }

            .descripcion{
                margin-top: 10px;
                overflow: hidden;
                padding: 10px;
                .title{
                    font-size: 18px;
                    color:blue;
                }
                .caja{
                    margin-top: 15px;
                    margin-bottom: 5px;
                    float: right;
                    input[type="button"]{
                        padding: 4px;

                        &:hover{
                            cursor: pointer;
                        }
                    }

                    .añadir{
                        background: rgb(66, 69, 255);
                        color:white;
                        display: inline-block;
                        padding: 5px;
                        border: 1px solid #0000;
                    }
                }
            }
        }
    }


}

.mainAbajo{
    width: 100%;
    
    .section1{
        background: rgba(255, 61, 61, 0.8);
        padding: 20px;
        height: 290px;
        h2{
            text-align: center;
        }

        .caja{
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: 20px;
            margin-top: 10px;

            .imagen{
                width: 10%;
                height:120px ;
                padding: 5px;
              
               

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 40px 40px 40px 40px;
                    border: 0px solid #000000;
                }

                p{
                    
                    margin-top: 5px;
                    margin-bottom: 10px;
                    text-align: center;
                    color:white;
                }
            }
        }
    }

    .section2{
        width: 100%;
        display: flex;

        .izquierda{
            width: 60%;
            height: 250px;
            padding: 20px;
            background: #f2f2f2;

            h3{
                color: blue;
                font-size: 17px;
                font-family: cursive;
            }

            p{
                padding:10px;
                margin-top: 5px;
                text-align: justify;
            }
        }

        .derecha{
            display: flex;
            width: 40%;
            height: 250px;
            .caja1, .caja2{
                width: 120px;
                height: 120px;
                margin: auto;
                padding: 5px;
                text-align: center;

                p{
                    color:white;
                    margin-top: 40px;
                }
               
            }

            .caja1{
                background: rgb(54, 40, 255);
            }

            .caja2{
                background: rgb(196, 2, 255);
            }
        }
    }
}

.footer{
    width: 100%;
    background: #000000;
}


.contenedor{
    width: 100%;
    display: flex;

    .izq{
        padding: 20px;
        width: 50%;
        background: #f2f2f2;
        margin-right: 10px;

        .formulario{
            margin: auto;
            padding: 10px;
            width: 400px;
            background: rgb(53, 208, 255);

            p{
                margin-bottom: 10px;
                color:blue;
                font-size: 17px;
                font-family: cursive;
            }
            label{
                display: block;
            }

            input[type="text"] {
                padding: 2px;
                margin-bottom: 4px;
                width: 100%;
            }

            .con{
                display: flex;
                label{
                    display: block;
                }
                input[type="password"]{
                    width: 50%;
                    padding: 2px;
                    display: inline-block;
                    
                 }
            }
           

            input[type="button"]{
                display: block;
                padding: 4px;
                margin-top: 10px;

            }
        }
    }

    .der{
        padding: 20px;
        width: 50%;
        background: #f2f2f2;
        

        .formulario2{
            padding: 10px;
            margin: auto;
            width: 300px;
            background: rgb(53, 208, 255);

            p{
                margin-bottom: 10px;
                color:blue;
                font-size: 17px;
                font-family: cursive;
            }
            label{
                display: block;
            }

            input[type="text"]{
                padding: 2px;
                margin-bottom: 4px;
            }

            input[type="button"]{
                display: block;
                padding: 4px;
                margin-top: 10px;
            }
        }
    }
}

///////////////////////////////////////////

@media (max-width: 0px) {
    
}